@using Microsoft.AspNetCore.Mvc.Localization
@using FeatureRequestPortal.Localization
@inject IHtmlLocalizer<FeatureRequestPortalResource> L
<a class="nav-link" role="button" href="~/Account/Login">Login</a>
